
<div class="form-style-6">
  <h1>Quelle est votre Question ? </h1>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="Your Question" />
    <input type="submit" value="Ask" />
  </form>
</div>
